<section class="strengths-weaknesses">
    <article>
        <h3 class="caracteristicas">Fortalezas</h3>
        <p class="parrafo">

            Somos cuatro mujeres valientes, que no tenemos miedo a los cambios.
            Decidadas, apostamos por aquello que nos hace feliz.
            Con gran flexibilidad mental que nos facilita gran adaptación al cambio y al trabajo en equipo.
            Y por supuesto, con muchísimas ganas de aprender.
        </p>
    </article>
    <article>
        <h3 class="caracteristicas">Debilidades</h3>
        <p class="parrafo">Somos cuatro profesionales que vienen de campos muy distintos por lo que nuestra
            debilidad principal sería la falta de experiencia laboral relacionada con la programación web. Sin
            embargo, tenemos que decir también que estamos convencidas de que las ganas y la motivación que
            tenemos podrá suplir esas carencias que vienen de la falta de experiencia. </p>
    </article>
</section>