<section class="whoiswho">
    <h2 id="Quienes-somos" class="quienes-somos">Quiénes somos</h2>
    <article class="complete-person">
        <img class="img-person" src="./assets/images/cabra.jpeg" alt="">
        <div>
            <h4>Laura García Cuello</h4>
            <p class="parrafo">Entusiasta por el cambio y en la búsqueda de aquello que me haga feliz. Vengo de
                la rama sanitatia y voy directa a la rama de la programación. Descubriendo este apasionante
                mundo code que se está convirtiendo en mi nueva vocación. Ilusionada con este nuevo comienzo.
            </p>
            <nav>
                <ul class="social-media-list">
                    <li class="icon-dot"> <a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="icon-dot"> <a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li class="icon-dot"> <a href=""><i class="fa-brands fa-github-alt"></i></a></li>
                    <li> <a href=""><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
    </article>
    <article class="complete-person">
        <img class="img-person" src="./assets/images/cabra.jpeg" alt="">
        <div>
            <h4>Bella García Villegas</h4>
            <p>Madre de 2 niñas que se ha ido reinventando a sí misma. Cuando con 37 años sabes que estas en un
                sector y en una empresa que no te puede ofrecer más, tienes 2 opciones: disfrutar la estabilidad
                que eso te proporciona o decidir que ese no es tu camino y buscar otro que te ofrezca un camino
                ilimitado de conocimiento y a su vez reconocimiento laboral. Es el momento del cambio,
                disfrutemos del camino.</p>
            <nav>
                <ul class="social-media-list">
                    <li class="icon-dot"> <a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="icon-dot"> <a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li class="icon-dot"> <a href=""><i class="fa-brands fa-github-alt"></i></a></li>
                    <li> <a href=""><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
    </article>
    <article class="complete-person">
        <img class="img-person" src="./assets/images/cabra.jpeg" alt="">
        <div>
            <h4>Mónica Hidalgo Martín</h4>
            <p>Culo inquieto por naturaleza con la constante necesidad de cambio y evolución. Esto me ha llevado
                a vivir varios años en diferentes países y dedicarme laboralmente a varias disciplinas. Desde
                locutora de radio hasta profesora de inglés. Como ves mi rama main tiene bastantes branches. Me
                atrae cualquier cosa que tiene que ver con la creatividad y la lógica. Ahora la vida me ha
                llevado a estudiar programación web y se ha convertido en mi nueva pasión. ¿Las otras? La
                montaña, los animales y las fiestas de cumpleaños con disfraces.</p>
            <nav>
                <ul class="social-media-list">
                    <li class="icon-dot"> <a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="icon-dot"> <a href="https://www.linkedin.com/in/monica-hidalgo-martin-6654a684/"><i
                                class="fa-brands fa-linkedin-in"></i></a></li>
                    <li class="icon-dot"> <a href=""><i class="fa-brands fa-github-alt"></i></a></li>
                    <li> <a href=""><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
    </article>
    <article class="complete-person">
        <img class="img-person" src="./assets/images/cabra.jpeg" alt="">
        <div>
            <h4>Bárbara García Bolaños</h4>
            <p>Curiosa e inquieta. A lo largo de mi vida he tocado muchos palos desde ciencias de la antigüedad
                hasta realización de proyectos. Puedo transformarte en un zombie viviente ,gracias a la magia
                del maquillaje, o dirigirte un documental de tu vida. Ahora estoy luchando para poder
                programarte tu próxima página web. ¿ Y de mi que puedo contarte? Estoy en contra del especismo y
                de todas las discriminaciones.</p>
            <nav>
                <ul class="social-media-list">
                    <li class="icon-dot"> <a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="icon-dot"> <a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li class="icon-dot"> <a href=""><i class="fa-brands fa-github-alt"></i></a></li>
                    <li> <a href=""><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
    </article>

</section>