<section class="whoiswho">
    <h2 id="Quienes-somos" class="quienes-somos">Quiénes somos</h2>

    <article class="complete-person person-left">
        <img class="img-person" src="./assets/images/laura.png" alt="">
        <div>
            <h4 class="whoiswho__title--left">Laura García Cuello</h4>
            <p class="whoiswho__text">Entusiasta por el cambio y en la búsqueda de aquello que me haga feliz. Vengo
                de
                la rama sanitaria y voy directa a la rama de la programación. Descubriendo este apasionante
                mundo code que se está convirtiendo en mi nueva vocación. Ilusionada con este nuevo comienzo.
            </p>
            <nav>
                <ul class="social-media-list">
                    <li class="icon-dot"> <a title="Ir a twitter" href=""><i class="fa-brands fa-twitter"
                                target="_blank"></i></a></li>
                    <li class="icon-dot"> <a title="Ir a linkedin"
                            href="https://www.linkedin.com/in/laura-garc%C3%ADa-1174b37b/"><i
                                class="fa-brands fa-linkedin-in" target="_blank"></i></a></li>
                    <li class="icon-dot"> <a title="Ir a github" href="https://github.com/Garcia-Laura"
                            target="_blank"><i class="fa-brands fa-github-alt" target="_blank"></i></a></li>
                    <li> <a title=" ir a email" href="mailto:lgarciacuello@gmail.com?subject=subject text">
                            <i class="fa-solid fa-envelope"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </article>
    <article class="complete-person person-right">
        <img class="img-person" src="./assets/images/bella.png" alt="">
        <div>
            <h4 class="whoiswho__title--right">Bella García Villegas</h4>
            <p class="whoiswho__text">Madre de 2 niñas que se ha ido reinventando a sí misma. Cuando con 37 años
                sabes
                que estas en un
                sector y en una empresa que no te puede ofrecer más, tienes 2 opciones: disfrutar la estabilidad
                que eso te proporciona o decidir que ese no es tu camino y buscar otro que te ofrezca un camino
                ilimitado de conocimiento y a su vez reconocimiento laboral. Es el momento del cambio,
                disfrutemos del camino.</p>
            <nav>
                <ul class="social-media-list">
                    <li class="icon-dot"> <a title="Ir a twitter" href="https://twitter.com/BeGaVi1234"
                            target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="icon-dot"> <a title="Ir a linkedin"
                            href="https://www.linkedin.com/in/bella-garcia-villegas-64732ab7/" target="_blank"><i
                                class="fa-brands fa-linkedin-in"></i></a></li>
                    <li class="icon-dot"> <a title="Ir a github" href="https://github.com/bellita85" target="_blank"><i
                                class="fa-brands fa-github-alt"></i></a></li>
                    <li> <a title="Ir a email" href="bellagarcia1985@gmail.com" target="_blank"><i
                                class="fa-solid fa-envelope"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </article>
    <article class="complete-person person-left">
        <img class="img-person" src="./assets/images/monica.png" alt="">
        <div>
            <h4 class="whoiswho__title--left">Mónica Hidalgo Martín</h4>
            <p class="whoiswho__text">Culo inquieto por naturaleza con constante necesidad de mejorar y evolucionar.
                Esto me ha llevado
                a vivir en diferentes países y a dedicarme a varias disciplinas. Desde
                locutora de radio hasta profesora de inglés. Me
                atrae cualquier cosa que tiene que ver con la creatividad y la lógica. Ahora la vida me ha
                llevado a estudiar programación web y se ha convertido en mi nueva pasión. ¿Las otras? La
                montaña, los animales y las fiestas de cumpleaños con disfraces.</p>
            <nav>
                <ul class="social-media-list">
                    <li class="icon-dot"> <a title="Ir a twitter" href="https://twitter.com/mhm_is_back"
                            target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="icon-dot"> <a title="Ir a linkedin"
                            href="https://www.linkedin.com/in/monica-hidalgo-martin-6654a684/" target="_blank"><i
                                class="fa-brands fa-linkedin-in"></i></a></li>
                    <li class="icon-dot"> <a title="Ir a github" href="https://github.com/mhidalgoma" target="_blank"><i
                                class="fa-brands fa-github-alt"></i></a></li>
                    <li> <a title=" ir a email" href="monicahidalgomartin@gmail.com" target="_blank"><i
                                class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
    </article>
    <article class="complete-person person-right">
        <img class="img-person" src="./assets/images/barbara.png" alt="">
        <div>
            <h4 class="whoiswho__title--right">Bárbara García Bolaños</h4>
            <p class="whoiswho__text">Curiosa e inquieta. A lo largo de mi vida he tocado muchos palos desde
                ciencias de
                la antigüedad
                hasta realización de proyectos. Puedo transformarte en un zombie viviente, gracias a la magia
                del maquillaje, o dirigirte un documental de tu vida. Ahora estoy luchando para poder
                programarte tu próxima página web. ¿ Y de mi que puedo contarte? Estoy en contra del especismo y
                de todas las discriminaciones.</p>
            <nav>
                <ul class="social-media-list">
                    <li class="icon-dot"> <a title="Ir a twitter" href="https://twitter.com/barbii_peque"
                            target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="icon-dot"> <a title="Ir a linkedin"
                            href="https://www.linkedin.com/?trk=seo-authwall-base_nav-header-logo" target="_blank"><i
                                class="fa-brands fa-linkedin-in"></i></a></li>
                    <li class="icon-dot"> <a title="Ir a github" href="https://github.com/BarbaraGB1" target="_blank"><i
                                class="fa-brands fa-github-alt"></i></a></li>
                    <li> <a title=" ir a email" href=""><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
    </article>


</section>