/* FOOTER*/

.linea {
  margin-bottom: 5px;
}

.footer {
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.nombre-final {
  color: var(--cool-grey);
  position: relative;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  gap: 5px;
  font-size: 14px;
}
.enlace1,
.enlace2,
.enlace3 {
  display: inline-block;
  text-decoration: none;
  box-shadow: none;
  color: var(--gun-metal);
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.logo {
  margin-top: 10px;
  height: 45px;
  width: 115.9px;
  margin-bottom: 45px;
}

@media all and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    height: 170px;
  }
  .enlaces-final {
    text-align: right;
    height: 90px;
    width: 324px;
    line-height: 2.14;
  }
  .nav {
    position: relative;
    order: 1;
    box-sizing: border-box;
    margin-right: 45px;
    bottom: 24px;
  }
  .logo {
    position: absolute;
    top: 65px;
    left: 35px;
  }
  .nombre-final {
    bottom: 30px;
    margin-left: 45px;
    margin-top: 0px;
    margin-bottom: 15px;
  }
}

@media all and (min-width: 1200px) {
  .footer {
    height: 161px;
  }
  .nombre-final {
    margin-left: 138px;
  }
  .logo {
    margin-left: 92px;
  }

  .nav {
    margin-right: 138px;
  }
}
