/* HERO */
.hero {
  background-image: url(../images/jump.png);
  background-position: center;
  background-size: 100vh;
  top: 0px;
  height: 421px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.texto-hero {
  text-align: center;
  width: 280px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: var(--white);
  text-align: left;
  margin-top: 421px;
  padding: 14px 15px 15px 16px;
  box-sizing: border-box;
}

@media all and (min-width: 768px) {
  .texto-hero {
    background: rgba(255, 255, 255, 0.8);
    width: 441px;
    height: 80px;
    margin-left: 46px;
    padding: 35px 30px 15px 30px;
    text-align: center;
  }
  .hero {
    justify-content: left;
    align-items: flex-end;
    background-size: cover;
  }
}

@media all and (min-width: 1200px) {
  .texto-hero {
    margin-left: 138px;
    width: 574px;
    height: 90px;
    padding: 35px 30px 15px 30px;
    text-align: center;
  }
  .hero {
    height: 550px;
    background-size: cover;
  }
}
@media all and (min-width: 1600px) {
  .hero {
    height: 800px;
  }
}
