/* HERO */
.hero {
  background-image: url(../images/man-jump-through-gap-hill-man-jumping-cliff-blue-sky-business-concept-idea.jpg);
  background-position: center;
  background-size: cover;
  top: 0px;
  height: 421px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-hero {
  text-align: center;
  width: 280px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: var(--white);
  text-align: left;
  margin-top: 421px;
  padding: 14px 15px 15px 16px;
  box-sizing: border-box;
}

@media all and (min-width: 768px) {
  .texto-hero {
    background: rgba(255, 255, 255, 0.8);
    width: 441px;
    height: 80px;
    margin-left: 46px;
    padding: 15px, 30px, 15px, 30px;
  }
  .hero {
    justify-content: left;
    align-items: flex-end;
  }
}
