.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.equipo {
  padding: 30px;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: var(--aqua);
  margin-top: 60px;
}

.team p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  color: #54585a;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 900px;
}

.video {
  margin-top: 30px;
  position: relative;
  width: 90%;
  height: 0;
  padding-bottom: 56.25%;
}
.videoyt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.white-square {
  width: 30px;
  height: 30px;
  transform: translate(0, 50%) rotate(45deg);
  z-index: 1;
  background-color: var(--white);
}

@media all and (min-width: 780px) {
  .equipo_text {
    margin-left: 10%;
    margin-right: 10%;
  }
  .video {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media all and (min-width: 1200px) {
  .video {
    position: relative;
    width: 60%;
    height: 0;
    padding-bottom: 40%;
  }
}
