/* who is who */

.whoiswho {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.complete-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.whoiswho__text {
  text-align: center;
  line-height: 1.5;
  color: #54585a;
  font-family: "Open Sans", sans-serif;
}

.whoiswho h2 {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.88;
  text-align: center;
  color: var(--blue-green);
}

.img-person {
  object-fit: cover;
  width: 180px;
  height: 180px;
  border: 5px solid var(--cool-grey);
  border-radius: 4px;
}

.whoiswho h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 2.25;
  text-align: center;
  margin-top: 15px;
}

.social-media-list {
  display: flex;
  padding: 30px;
  gap: 10px;
  justify-content: center;
  color: #54585a;
}

.fa-solid,
.fa-brands,
.fa-regular {
  color: var(--blue-green);
}

.icon-dot::after {
  content: "·";
  color: var(--blue-green);
  padding-left: 7px;
}

@media all and (min-width: 768px) {
  .complete-person {
    flex-direction: row;
    margin: 20px 50px 20px 50px;
  }
  .whoiswho__title--left {
    text-align-last: left;
  }
  .whoiswho__title--right {
    text-align-last: right;
  }
  .whoiswho__text {
    text-align: left;
  }
  .person-right .whoiswho__text {
    text-align: right;
  }

  .person-right {
    align-self: flex-end;
    flex-direction: row-reverse;
  }
  .person-left .img-person {
    margin-right: 20px;
  }
  .person-left .social-media-list {
    justify-content: flex-start;
    padding-left: 0;
  }

  .person-right .img-person {
    margin-left: 20px;
  }
  .person-right .social-media-list {
    justify-content: flex-end;
    padding-right: 0;
  }
  .social-media-list {
    padding-top: 20px;
  }

  .img-person {
    width: 207px;
    height: 207px;
  }
}
