/*@import "core/variables";*/
@import "core/reset";
/*@import "components/code";*/
/*@import "components/links";*/
@import "layout/page";
@import "layout/header";
@import "layout/hero";
@import "layout/team";
@import "layout/strengths_weaknesses";
@import "layout/who_is_who";
@import "layout/footer";
@import "layout/contacto";
/*@import "pages/index";
*/
@media screen and (min-width: 768px) {
  .strengths-weaknesses {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
