:root {
    --blue-green: #099d8d;
    --aqua: #14d9c4;
    --white: #ffffff;
    --black: #000000;
    --cool-grey: #b8b8b9;
}

.header{

}
.h1{
  width: 100%;
  height: 60px;
  text-align: center;
  opacity: 0.95;
  background-color: var(--blue-green);
  color: var(--white);
}
.nav-header{
    width: 100%;
    height: 45px;
    opacity: 0.9;
    background-color: var(--aqua);
    color: var(--white);
}
.ul-nav-cabecera{
    display: flex;
    color: var(--white);
    flex-direction: row;  
}
.link{
    padding: 20px;
}
.equipo{
    text-align: center;
    padding: 30px;
}

.hero {
    background-image: url(../images/expediav2-420251-bac80c-813390.jpg);
    background-position:center;
    height: 200px;
    width: 100vw;

   
}


.texto-hero{
    background-color: var(--white);
    width: 204px;
    position: relative;
    padding: 2px;
    top: 184px;
    left: 58px; 
    font-weight: bold;
    text-align: center;
  }

 /*Trabajo de Monica a partir de aqui*/

.whoiswho {
    background-color: var(--white);
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.complete-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.complete-person p {
    text-align: center;
    line-height: 1.5;
    color: #54585a;
}
.whoiswho h2 {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.88;
    text-align: center;
    color: var(--blue-green);
}
.img-person {
    object-fit: cover;
    width: 180px;
    height: 180px;
    border: 5px solid var(--cool-grey);
    border-radius: 4px;
}
.whoiswho h4 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 2.25;
    text-align: center;
    margin-top: 15px;
}
.social-media-list {
    display: flex;
    padding: 30px;
    gap: 15px;
    justify-content: center;
}
.fa-solid, .fa-brands {
    color: var(--blue-green);
}