:root {
    --blue-green: #099d8d;
    --aqua: #14d9c4;
    --white: #ffffff;
    --black: #000000;
    --cool-grey: #b8b8b9;
}

.header{

}
.h1{
  width: 100%;
  height: 60px;
  text-align: center;
  opacity: 0.95;
  background-color: var(--blue-green);
  color: var(--white);
}
.nav-header{
    width: 100%;
    height: 45px;
    opacity: 0.9;
    background-color: var(--aqua);
    color: var(--white);
}
.ul-nav-cabecera{
    display: flex;
    color: var(--white);
    flex-direction: row;  
}
.link{
    padding: 20px;
}
.equipo{
    text-align: center;
    padding: 30px;
}

.hero {
    background-image: url(../images/expediav2-420251-bac80c-813390.jpg);
    background-position:center;
    height: 200px;
    width: 100vw;

   
}


.texto-hero{
    background-color: var(--white);
    width: 204px;
    position: relative;
    padding: 2px;
    top: 184px;
    left: 58px; 
    font-weight: bold;
    text-align: center;
  }
